{{ define "main" -}}
<style>
    aria-label {
        color: blue;
    }

    hr {
        margin: 2.0em auto;
    }

    h1 {
        padding-top: 3.0em;
        color: brown;
        font-size: 36pt;
        text-align: center;
    }

    ul:before {
        content: attr(aria-label);
        font-size: 120%;
        font-weight: bold;
        margin-left: -15px;
    }

    .eventContainer {
        display: flex;
        padding: 5px;
        background-color: lightgray;
        border-radius: 15px;
        border-width: 5px;
        border-style: ridge;
    }

    .eventDate {
        font-size: 20pt;
        border-style: solid;
        text-align: center;
        line-height: 40px;
        border-radius: 15px;
        border-width: 1px;
        height: 60px;
        width: 120px;
    }

    .event {
        min-height: 50px;
        width: 600px;
        text-align: center;
    }

    .event a {
        font-size: 14pt;
    }
</style>
</head>
<div style="width: 100%; background-color: lightblue; padding-left: 10px;">

    <div style="float: right;">
        <img width="300" src="https://prescottareatrailrunners.com/assets/img/patr-logo.png" />
    </div>
    <h1>PATR Chatter</h1>
    <br><i>The monthly newsletter of the <a href="https://prescottareatrailrunners.com">Prescott Area Trail
            Runners</a></i>
    <br>{{ .Date.Format "January 2006" }}
</div>

<br>
{{ with .Content }}
    <h2>Announcements</h2>
    {{.}}
{{end}}
</td>
</tr>


<h2>PATR Events</h2>
<i>Group runs or mini-races set up by group members.</i>
{{ range where .Site.Pages "Section" "events" }}
    {{ range where (sort .Pages ".Params.Startdate" "asc" ) "Params.Patr" true}}
        {{ $start := (time.AsTime .Params.Startdate) }}
        {{ $start = time.AsTime (time.Format "2006-01-02" $start) }}
        {{ if and (ge $start.Unix (add $.Date.Unix -86400)) (le $start.Unix (add $.Date.Unix 5184000)) }}
            <div class="eventContainer">
                <div class="eventDate"> {{$start.Format "Jan 02"}}
                </div>
                <div class="event">
                    <summary><a href="{{.Permalink}}">{{.Title}}</a>
                        <br>
                        <details class="collapsible">
                            <p>
                                {{ .Content }}
                            </p>
                        </details>
                </div>
            </div>
        {{ end }}
    {{end}}
{{end}}
    <h2>Non-PATR Events</h2>
    <i>events not too far away, not directly PATR affiliated, but likely to be attended by PATRs</i>
    {{ range where .Site.Pages "Section" "events" }}
    {{ range where (sort .Pages ".Params.Startdate" "asc" ) "Params.Patr" false}}
        {{ $start := (time.AsTime .Params.Startdate) }}
        {{ $start = time.AsTime (time.Format "2006-01-02" $start) }}
        {{ if and (ge $start.Unix (add $.Date.Unix -86400)) (le $start.Unix (add $.Date.Unix 5184000)) }}
            <div class="eventContainer">
                <div class="eventDate"> {{$start.Format "Jan 02"}}
                </div>
                <div class="event">
                    <summary><a href="{{.Permalink}}">{{.Title}}</a>
                        <br>
                        <details class="collapsible">
                            <p>
                                {{ .Content }}
                            </p>
                        </details>
                </div>
            </div>
        {{ end }}
    {{end}}
{{end}}
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>
{{end}}