{{ define "main" -}}
Join our Facebook Group for event details and discussion 
or subscribe to the <a href="/events/index.ics">calendar</a>
<ul>
  <li>Tuesdays: 5:30 pm we have a group run at a trail in the area, usually within a 20 minute drive of downtown Prescott. A 4-6 mile no-drop run, which means we stop at every intersection and wait for everyone.</li>
  <li>Wednesdays: 6am when it’s hot, 7am when it’s not, the Vert Club does laps on Thumb Butte</li>
  <li>Thursdays: 5:30pm at Fleet Feet, Social Run run or walk your own pace and distance, maybe hang out after.</li>
  <li>Saturdays: 7:30am SATR PATR no-drop trail run, at various locations, usually around 8 miles.</li>
  <li>Miscellaneous: Frequently members will plan runs or hikes inviting all comers.</li>
</ul>
event list updated: {{  time.Now | time.Format "Jan 02, 2006" }}
<ul class="posts">
{{ $pages := collections.Sort .Data.Pages "Params.startdate"}}
{{ range $pages -}}
  {{ $start := (time.AsTime .Params.startdate) }}
  {{ $minus1d := time.ParseDuration "-24h"}}
  {{ $now := (time.Now.Add $minus1d) }}
  {{ if ($start.After $now) }}
  <li style="padding:5;list-style-type:none">
    <span><time class="pull-right post-list" datetime="2006-01-02T15:04:05Z">{{ $start.Format "Monday, Jan 2 3:04pm"}}</time> <a href="{{ .Permalink }}">{{ .Title }}</a> </span>
  </li>
  {{ end }}
{{- end }}
</ul>
{{- end }}
