{{ define "main" -}}
{{ .Content }}

<h2>Event List</h2>
<i>updated: {{  time.Now | time.Format "Jan 02, 2006 15:04:05 MST" }}</i>
<ul class="posts">
{{ $pages := collections.Sort .Pages "Params.startdate"}}
{{ range $pages -}}
  {{ $start := (time.AsTime .Params.startdate) -}}
  {{ $minus1d := time.ParseDuration "-24h" -}}
  {{ $now := (time.Now.Add $minus1d) -}}
  {{ if ($start.After $now) -}}
  <li style="padding:5;list-style-type:none">
    <span><time class="pull-right post-list">{{ $start.Local.Format "Monday, Jan 2 3:04pm"}}</time> <a href="{{ .Permalink }}">{{ .Title }}</a> </span>
  </li>
  {{- end }}
{{- end }}
</ul>
{{- end }}
